/*IE 7*/

.listaPuntoNero{list-style:square url(/cms-file/common/img/puntoNeroIE.gif) inside; text-indent:-.5em}

#content{height:auto; min-height:320px}
#content .contentLeft{min-height:300px}
#content .contentLeft ul#menu3{padding:5px 0 8px 0}

.cboxIntArchivio{min-height:205px}
.cboxIntImgPar{min-height:156px}

.ArchivioImgLeft,
.ArchivioImgRight{margin-bottom:15px}

.ArchivioImgLeftUp, .ArchivioImgRightUp{min-height: 25px;} /* modifica per problema EDITING INLINE Vignette 8 */

.ArchivioImgLeft a,
.ArchivioImgRight a,
.ContImgParagWP a{background:url('/cms-file/common/img/freccia_puntatore.gif') 3px left no-repeat}

.cboxIntContResult .PageNumb{height:1em}

#content .contentLeft,
#content .HpTrenContLeft{display:inline}

.BoxIntIconeLeft,
.BoxIntIconeRight{margin-bottom:3px; padding-bottom:0}

#cruscotto .tab span.off{padding:10px}
#cruscotto .tab span.off a{padding:5px 0}

#formGen .btnInviaCrusc {position:relative; top:2px}

#AreaRiservata div{padding-bottom:4px}

.roundButtonGray .roundCont p{padding:0; margin:14px 12px 0 0}

#cruscotto .tab span.off{text-align:center; padding:10px; font-weight:bold; background:url('/cms-file/common/img/off_sx.gif') center left no-repeat}
#cruscotto .tab span.off a{text-align:center; padding:5px 0; font-weight:bold; background:#FFF url('/cms-file/common/img/off_dx.gif') center right no-repeat}

/*Add x cruscotto spalla dx*/
.cruscotto {width:170px; margin-left:auto; margin-right:auto; background-color:#ebebeb}
.cruscotto fieldset {position:static; background-color:#ebebeb}
.cruscotto .form-row label {display:block;float:none;width:auto;padding-left:0;text-align:left}
.cruscotto .alternate {position:static; padding:5px}

.ContBoxLabelAR .BotForm .R1{margin-top:-9px}

.ContParag{height:auto !important; min-height:20px}

#mooqueeStart{margin:0;padding:0}

.titoloPag{border:1px solid #F5F5F5; border-top:0; border-bottom:0}

/* Form Centostazioni */
#contForm .ie6_ie7 input.altro{float:right; position:relative; right:204px}
#contForm .rowTop{line-height:0px; overflow:hidden}
#contForm .rowTop label{position:relative; top:12px}
legend{width:760px; margin-bottom:1em}
#contForm .rowTop .dx{overflow:hidden}
#contForm input.radio{top:2px}

.FSNewsLeftCol .ContBoxCurva a.arrowLink{background-position:2px 2px}
.FSNewsLeftCol .ContBoxCurva .boxFSNewsT6 a.arrowLink, .FSNewsLeftCol .ContBoxCurva .BoxFSNews a.arrowLink{background-position:2px 6px}

#leftColListaUp{width:72.5%}
#rightColListaUp{margin:0 0 0 72%}

.conttwocol .Box2ImgTitolo{width:66%}

.ContBoxLabelAR .TopTitolo{height:20px}

.banner_epacongress{position:relative; float:right; width:5px; right:120px; top:5px;}

/* ul.listaBoxWp li a {background:url('/cms-file/common/img/freccia_puntatore.gif') 3px left no-repeat} */
/* ul.listaBoxWp li{list-style : none margin: 5px 10px 7px 0;padding:0 0 2px 0;} */

#headerPagInt .headerTop .headerLeftNavButton {width: 65%} /* fix ie7 per pagine interne LeFrecce */
