/* FORM RECLAMI BUSITALIA */

.hidden, legend{position:absolute; left:-2000px; width:990px}
.obbligatorio{color:#B30002}
br.space{line-height:1.8em}
div.space{height:20px}
input, textarea{font-family:Arial; margin:0; padding:0; height:18px; font-size:.9em; border:1px solid #999}
form{padding:0; margin:0; font-family:Arial; font-size:1em}
fieldset{margin-top:16px; border:0; padding-top:16px}
legend.visible{color:#006362; border-bottom:1px solid #006362; font-size:1.1em; text-transform:uppercase; width:99%; letter-spacing:2px; position:static}
img.data{float:right; border:none; margin-left:8px}
label{font-weight:bold}

/*Form*/
#contForm{}
#contForm div.row, #contForm div.rowTop{padding:0 0 0 8px}
#contForm div.row div.sx, #contForm div.rowTop div.sx{float:left; width:260px; padding:1px 0px 1px 0}
#contForm div.row div.dx, #contForm div.rowTop div.dx{margin-left:400px; width:260px; padding:1px 0 1px 0}
#contForm div.row .multisel{float:left; width:260px}
#contForm input{float:right; width:180px}
#contForm input.altro{float:none; width:174px}
#contForm input.radio{float:none; width:auto; margin-right:10px; border:0; position:relative; top:5px; left:0}
#contForm input.check{width:22px; border:0; padding:0px; margin:0px}
#contForm select{border:1px solid #999}
#contForm select.small{float:right; width:182px}
#contForm div.row .multisel select{width:226px; height:180px}
#contForm div.row textarea{width:744px; height:100px}
#contForm div.row p{margin-bottom:16px; padding:0 0 0 0px}
/*Captcha*/
#contForm div.boxCaptcha{background:url(/cms-file/common/img/bg_boxcaptchaCentostaz.gif) 0 0 repeat-x; margin:0; padding:0; text-align:center}
#contForm .boxCaptcha div.Titolo{font-size:1em; font-weight:bold; padding:18px 12px 5px 12px; margin-bottom:10px}
#contForm .contCaptcha img{padding-left:1em}
#contForm .contCaptcha div.botForm{padding:1em}
#contForm .boxCaptcha input{float:none; border:1px solid #999; width:22%}
#contForm .boxCaptcha input.btnSubmit{font-size:1em; font-weight:bold; cursor:pointer; color:#FFF; width:64px; height:20px; border:0; background:url(/cms-file/common/img/button_gen.gif) center center no-repeat}
/* Box Errore */
div.errorBox{background:url('../img/warning.gif') top left no-repeat; height:auto !important; min-height:56px; padding:16px 16px 18px 60px; border:1px dotted #B30002; text-align:left}
html>/**/body div.errorBox{padding-top:16px; background-position:top left; min-height:22px}/*Firefox*/
div.errorBox span{color:#B30002; font-weight:bold}
div.errorBox div{margin:0 auto; text-align:left; width:740px}
div.errorBox div ul{color:#B30002; margin:10px 0 0 22px; font-weight:bold}
div.errorBox div ul li{line-height:1.8em}
/* Box Messaggio OK */
div.MsgOkBox{background:url('../img/accepted.gif') top left no-repeat; height:auto !important; min-height:50px; padding:16px 16px 16px 60px; margin-bottom:240px; border:1px dotted #006362; text-align:left}
html>/**/body div.MsgOkBox{padding-top:16px; background-position:top left; min-height:18px}/*Firefox*/
div.MsgOkBox span{color:#006362; font-weight:bold}
/*Informativa sulla privacy - Termini e condizioni generali*/
div#terminiCondizioniGenerali{
	width:744px !important;width /**/:744px;
	height:160px !important;height /**/: 160px;
	overflow:auto;padding: 4px;
	border:1px solid #EEE;border-right:0 solid;
	margin-top: -5px;
	background:url(gradient.png) repeat-x fixed top left
}
/* / Informativa sulla privacy - Termini e condizioni generali*/
/*Consenso informativo*/
div #terminiCondizioniGenerali p{margin-top:0}
p.parConsensoInformativa {margin-top:5px; margin-left:7px}
.radioLeft {
  float:left;
}
.radioLeftText {
	float:right;
	width:735px;
}
.radioContainer {
	width:765px; 
	padding-bottom:12px;
}
/* / Consenso informativo*/