/**
	* 	Versione style.css con menu primo livello a 3 voci 
    * 	last-mod 10-03-2014 
*/

/*patch per 4 voci di menu*/
.menu > ul > li {width: 33.3%;}				
.menu > ul > li.last {width: 33.3%;}

.resultBox > .title > .fright { display:none; } 